<script type="application/ld+json">
    {
        "@context":"https://schema.org",
        "@type":"FAQPage",
        "mainEntity":[
          {
            "@type":"Question",
            "name":"What is InfoSec Streams?",
            "acceptedAnswer":{
              "@type":"Answer",
              "text":"<p>InfoSec Streams is an actively community-maintained list of Information Security-related Twitch streams. The list is hosted on GitHub pages and includes a wide range of streamers who contribute content around cybersecurity topics.</p>"
            }
          },
          {
            "@type":"Question",
            "name":"How is the list sorted?",
            "acceptedAnswer":{
              "@type":"Answer",
              "text":"<p>The list is sorted based on 30-day activity, which helps users find active streams more easily.</p>"
            }
          },
          {
            "@type":"Question",
            "name":"What happens to inactive streamers?",
            "acceptedAnswer":{
              "@type":"Answer",
              "text":"<p>Streamers that haven't streamed in the last month are moved to the inactive streamers page. This ensures that the main list remains up-to-date with active content creators.</p>"
            }
          },
          {
            "@type":"Question",
            "name":"Can I access the list of inactive streamers?",
            "acceptedAnswer":{
              "@type":"Answer",
              "text":"<p>Yes, there is a separate page for streamers who have been inactive for the last month. You can access this list from the main GitHub page.</p>"
            }
          },
          {
            "@type":"Question",
            "name":"Is the list of streamers exhaustive?",
            "acceptedAnswer":{
              "@type":"Answer",
              "text":"<p>While the list includes a wide range of streamers, it is by no means exhaustive. The cybersecurity field is dynamic and new content creators are always emerging. The InfoSec Streams list aims to be as comprehensive as possible and relies on contributions from the community to stay up-to-date.</p>"
            }
          },
          {
            "@type":"Question",
            "name":"How can I contribute to the list?",
            "acceptedAnswer":{
              "@type":"Answer",
              "text":"<p>If you have a new streamer to add or spot an error, you're encouraged to contribute edits and can be made by issuing a <a href=https://github.com/infosecstreams/infosecstreams.github.io/pulls>pull request</a>, raising an <a href=https://github.com/infosecstreams/infosecstreams.github.io/issues>issue</a>, or holler at us on the <a href=https://discord.gg/onlyfeet>Discord</a>. Thanks!</p>"
            }
          },
          {
            "@type":"Question",
            "name":"Who maintains the InfoSec Streams list?",
            "acceptedAnswer":{
              "@type":"Answer",
              "text":"<p>The project was started by <a href=https://twitch.tv/chadb_n00b>chadb_n00b</a> and is currently maintained by GoProSlowYo. <a href=https://github.com/goproslowyo>GoProSlowYo</a> currently maintains all the golang code in <a href=https://github.com/infosecstreams/secinfo>secinfo</a>, <a href=https://github.com/infosecstreams/streamstatus>streamstatus</a>, and <a href=https://github.com/infosecstreams/infosecstreams.github.io>this</a> repository.</p>"
            }
          },
          {
            "@type":"Question",
            "name":"Can I join the OnlyFeet CTF Team and its thriving Discord community?",
            "acceptedAnswer":{
              "@type":"Answer",
              "text":"<p>Absolutely! The OnlyFeet CTF Team has a vibrant and active community on the <a href=https://discord.gg/onlyfeet>OnlyFeet Discord</a>. Joining the community to engage in discussions, share knowledge, and participate with the OnlyFeet CTF Team and their activities. The Discord server is an excellent platform to connect with like-minded individuals passionate about CTF challenges and information security.</p>"
            }
          },
          {
            "@type":"Question",
            "name":"Where can I report issues?",
            "acceptedAnswer":{
              "@type":"Answer",
              "text":"<p>If you encounter any issues with a link or if the site is not updating properly, you can report it on the <a href=https://discord.gg/onlyfeet>OnlyFeet Discord</a> server or open an issue on the GitHub page.</p>"
            }
          }
        ]
    }
</script>
