---
---

@import "jekyll-theme-hacker";

.streamer-table {
  table-layout: fixed;
  
  th[role=button] {
    cursor: pointer;
  }

  th {
    white-space: nowrap;
  }

  th[data-sort="forward"]::after {
    content: " ▲";
  }

  th[data-sort="backward"]::after {
    content: " ▼";
  }
}

[role=modal] {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255, 0.2);
}

[role=modal] > * {
  background: $body-background;
}

/* Rules for small screens */
@media (max-width: 700px) {
  .streamer-table {
    th:nth-child(4), td:nth-child(4) {
      display:none;
    }
  }
}
