---
---

@import "jekyll-theme-hacker";

.streamer-table {
  th:nth-child(1),
  th:nth-child(2) {
    cursor: pointer;
  }
}

th {
  white-space: nowrap;
}

th[data-sort="forward"]::after {
  content: " ▲";
}

th[data-sort="backward"]::after {
  content: " ▼";
}
